<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=me.alb-i986.cucumber"/>
        <listEntry value="archetypeArtifactId=cucumber-java-junit-archetype"/>
        <listEntry value="archetypeVersion=1.2.4"/>
        <listEntry value="groupId=com.vuram"/>
        <listEntry value="artifactId=hsbc"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.vuram.hsbc"/>
        <listEntry value="outputDirectory=C:\Users\sandhyan\Desktop\LocalWorkspace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\sandhyan\AppData\Local\Temp\m2e-archetypeGenerator2547414768910159807"/>
</launchConfiguration>
